body {
    font-family: 'Poppins', 'Nunito', sans-serif;
    background: linear-gradient(to bottom, #ffe4e1, #fef6e4);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: url('./static/cursor.cur'), auto; /* Custom cursor */
}

header {
    background: #ffccd5;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./static/background.png') no-repeat center center fixed;
}

.section {
    display: none;
    margin: 20px 0; /* Reduced margin */
    padding: 10px; /* Reduced padding */
    border-radius: 12px;
    background: rgba(221, 217, 220, 0.767); /* White background with 90% opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.box {
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0); /* White background with 90% opacity */
    margin-bottom: 20px;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight downward offset */
    animation: fadeInUp 0.6s forwards; /* Apply animation */
    animation-delay: calc(var(--box-index) * 0.2s); /* Stagger animation */
}

.divider {
    border: 0;
    height: 1px;
    background: #ff729f;
    margin: 20px 0;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 1.1em;
}

footer {
    background: #ffccd5; /* Adjusted to match the header color */
    padding: 5px; /* Adjusted padding to make the footer less tall */
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

footer a {
    color: #ff729f; /* Set the color for the link */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}