
.skills-category ul {
    list-style-type: none;
    padding: 0;
}

.skills-category ul li {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.skills-category ul li::before {
    color: #ff729f;
    padding-right: 8px;
    font-size: 1.2em;
}

.skills-category {
    margin-bottom: 20px;
}

.skills-category h3 {
    margin-top: -10px; /* Remove space above the category title */
    color: #ff729f;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
}

.tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Reduced gap between logos */
    margin: 10px 0;
    margin-top: -15px;
}

.tech-logo {
    width: 60px; /* Adjust width */
    height: 60px; /* Adjust height */
    object-fit: contain;
    transition: transform 0.3s ease;
}

.tech-logo:hover {
    transform: scale(1.1); /* Hover effect to scale up the logos */
}

@media (max-width: 768px) {
    .tech-logo {
        width: 50px; /* Adjust size for smaller screens */
        height: 50px;
    }
}

.large-icon {
    transform: scale(2); /* Scale up the icon */
}

.large-icon:hover{
    transform: scale(2.1); /* Scale up the icon */
}

#css {
    transform: scale(1.2); /* Scale up the icon */
}

#css:hover {
    transform: scale(1.3); /* Scale up the icon */
}